body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, .card-body>h5 {
font-family: "Lobster", cursive;
}

h2 {
  color: #3046C5;
}

.card-img-overlay h5 {
  color: white;
  background-color: rgba(83, 83, 77, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  background-image: linear-gradient(rgb(247, 255, 200), white);
  padding: 20px 0;
}

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, rgb(221, 80, 55), rgb(197, 138, 48), rgb(185, 183, 42));
  color: white;
}

.jumbotron h2 {
  color: rgb(245, 245, 245);
}

.navbar-dark {
  background-color: rgb(199, 194, 127);
}