body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, .card-body>h5 {
font-family: "Lobster", cursive;
}

h1, h2, h4, h5 {
  color:  rgb(255, 175, 70);
}



.card-img-overlay h5 {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  background-color: yellow;
  padding: 20px 0;
}

.jumbotron {
  margin: 0;
  padding: 30px;
  background-color: yellow;
  color: rgb(255, 175, 70);
}

.jumbotron h2 {
  color: rgb(255, 175, 70);
}

.navbar-dark {
  background-color: rgb(255, 175, 70);
}
